<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta userName="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


<h1>Welcome</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    $( document ).ready(function() {
        $("#getit").on("click", function () {
            $.ajax({
                url: "/getjson", success: function (response) {
                    res = "";
                    $.each(response, function (index, el) {
                        res = res + "<br/>userName: " + el.userName + " : email " + el.email;
                    });
                    $("#data").html(res);
                }, error: function () {
                    console.log("error!");
                    $("#data").html("Some error occured!");
                }
            });
        });
    });
</script>
</head>
<body>
    <div class="container">
        <h1>Click on the button then data will appear below:</h1>h1>
    <button id="getit">Get some data</button>
    <hr>
    <div id="data"></div>
    </div>
<body>

</body>
</html>