<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="springboot" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-jpa-thymeleaf-sessionbean-filter-error-listener" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="main.Application" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>